{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez PickaBook{% endblock %}

{% block body %}
{# {{ dump(randomEditions) }} #}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>

<body class="w3-content" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <img src="{{ asset('/images/site/pickabook.png') }}" alt="logo du site Pickabook" 
                                     class=" img-fluid">
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="#" class="w3-bar-item w3-button">Meilleures ventes</a>
    <a href="#" class="w3-bar-item w3-button">Romans</a>
    <a href="#" class="w3-bar-item w3-button">Policiers</a>
    <a href="#" class="w3-bar-item w3-button">Classiques</a>
    <a href="#" class="w3-bar-item w3-button">Pratiques</a>
    <a href="#" class="w3-bar-item w3-button">Biographies</a>
  </div>
  <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
  <a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>
      {% if not app.user %}
       <a href="/login" class="w3-bar-item w3-button w3-padding">Se connecter <i class="fa-solid fa-right-to-bracket"></i></a>
      {% endif %}


      {% if app.user %}
       {# {{ app.user.userIdentifier }} #}
        <a href="/logout" class="w3-bar-item w3-button w3-padding">Sortir <i class="fa-solid fa-right-from-bracket"></i></a>
      {% endif %}
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left"></p>
    <p class="w3-right">
      <i class="fa fa-shopping-cart me-3"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>

  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src="{{ asset('/images/site/reading-1698771_1280.jpg') }}" alt="image principale" class=" img-fluid">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Arrivages</h1>
      <h1 class="w3-hide-large w3-hide-medium">Arrivages</h1>
      <h1 class="w3-hide-small">Livres de l'été 🌞</h1>
      <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">Choisir un livre</a></p>
    </div>
  </div>

  <div class="w3-container w3-text-grey" id="jeans">
    <p>{{ randomEditions|length }} valeurs sûres !</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row">

    {% for edition in randomEditions %}
      <div class="w3-col l3 s6">
        <div class="w3-container">
          <a href="{{ path('app_livre_fiche', {'edition_id': edition.edition_id}) }}">
          <img src="{{ asset('/images/editions/' ~ edition.image_name) }}" style="height: 20vh;">
          </a>
          <p>{{ edition.titre_livre }}<br><b>{{ (edition.prix_vente)/100 |  number_format(2, '.', ',') }} €</b></p>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Subscribe section -->
  <div class="w3-container w3-black w3-padding-32">
    <h1>Abonnez-vous</h1>
    <p>Pour ne manquer aucune offre !</p>
    <p><input class="w3-input w3-border" type="text" placeholder="votre email" style="width:100%"></p>
    <button type="button" class="w3-button w3-red w3-margin-bottom">Je veux recevoir les meilleures offres</button>
  </div>
  
  <!-- Footer -->
  <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <h4>Contact</h4>
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Nom et Prenom" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Objet" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
          <button type="submit" class="w3-button w3-block w3-black">Envoyer</button>
        </form>
      </div>

      <div class="w3-col s4">
        <h4>About</h4>
        <p><a href="#">A propos</a></p>
        <p><a href="#">Expedition</a></p>
        <p><a href="#">Paiment</a></p>
        <p><a href="#">Carte cadeau</a></p>
        <p><a href="#">Retours</a></p>
        <p><a href="#">F.A.Q.</a></p>
      </div>

      <div class="w3-col s4 w3-justify">
        <h4>Store</h4>
        <p><i class="fa fa-fw fa-map-marker"></i> PickaBook</p>
        <p><i class="fa fa-fw fa-phone"></i> 0612345678</p>
        <p><i class="fa fa-fw fa-envelope"></i> contact@pickabook.fr</p>
        <h4>Nous acceptons</h4>
        <p><i class="fa fa-fw fa-btc"></i> Cryptomonnaies</p>
        <p><i class="fa fa-fw fa-credit-card"></i> CB</p>
        <br>
        <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
        <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
        <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
        <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
        <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
      </div>
    </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">Powered by Thierry Leung</div>

  <!-- End page content -->
</div>

<!-- Newsletter Modal -->
<div id="newsletter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
      <h2 class="w3-wide">NEWSLETTER</h2>
      <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<script>


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>




{% endblock %}
