{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto">

    <h1>S'enregistrer</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.codePostal) }}
        {{ form_row(registrationForm.ville) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
