{% extends 'base.html.twig' %}

{% block title %}Liste des Livres{% endblock %}

{% block body %}

    <div class="container mt-4 col-12 col-sm-10 col-md-10 col-lg-10 col-xl-7">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
            {% if theme is defined %}
                <a href="/livres">
            {% endif %}
            tous
            {% if theme is defined %}
                </a>
            {% endif %}
            </li>
            {% if theme is defined %}
                <li class="breadcrumb-item active" aria-current="page">{{ theme }}</li>
            {% endif %}
        </ol>
    </nav>
        <h1>{{titre_page}}</h1>
        <div class="row">
            {% for livre in livres %}
            {# {{dump(livre)}} #}
                <div class="col-12 mb-2">
                    <div class="card d-flex flex-row ">
                        <div class="col-3 bg-light text-center">
                            <img src="{{ asset('/images/editions/' ~ livre.image_name) }}" alt="{{ livre.image_name }}"
                                 class=" img-fluid" style="height: 25vh">
                            
                        </div>
                        <div class="card-body ">
                        	<a href="{{ path('app_livre_fiche', {'edition_id': livre.edition_id}) }}">
                                <h5 class="card-title ">{{ livre.titre_livre }}</h5>
                            </a>
                            <p class="card-subtitle mb-2 fs-7">
                                de  <a href="{{ path('app_auteur_fiche', {'auteur_id': livre.auteur_id}) }}">
                                        {{ livre.prenom_auteur }} {{ livre.nom_auteur }} 
                                    </a>
                            </p>
                            <p>Editions {{ livre.nom_editeur }}</p>
                            <p class="text-primary fw-bold">{{ livre.format }}</p>
                                
                            <div class="d-flex">  
                                <span class="h4">{{ (livre.prix_vente / 100) | number_format(2, '.', ',') }} €</span>
                            </div>
          
                            {# <p class="card-text">{{ livre.description }}</p> #}
                            {# <a href="{{ path('livre_show', { id: livre.id }) }}" class="btn btn-primary">Voir les détails</a> #}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
    




